@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
    --default-color: #FFF;
    --primary-color: #F6F4F5;
    --secondary-color: #14121E;
    --badge-color: #EAFBEE;
    --income-color: #E8F0FB;
    --outgoing-color: #FFEFE7;
    --text-color: #9FA2AA;
    --notifications-color: #FF0000;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
}

body {
  background: var(--default-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  background: var(--primary-color);
}